rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

    match /rooms/{roomId}/segments/{segId} {
      allow read: if request.app != null;
      allow write: if false;
    }

    match /rooms/{roomId}/meta/{docId} {
      allow read: if request.app != null;
      allow write: if false;
    }
  }
}
