rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

    match /rooms/{roomId}/transcript/body {
      allow read, update, delete: if true;
      allow create: if false;
    }

    match /rooms/{roomId}/meta/{docId} {
      allow read: if true;
      allow write: if false;
    }
  }
}
